.flexbox {
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 169, 219);
    text-decoration-color: yellow;
    width: 30%;
    height: 200px;
    border: 2px;
    border-radius: 15px;
    border-color: blueviolet;
    justify-content: center;
    text-align: center;
    font-size: large;
    font-style:normal;
    font-family: Arial, Helvetica, sans-serif;
}